.nav__menu {
  translate: -100%;
  height: auto;
  transition: translate 0.4s ease-in-out;
  position: absolute;
  top: 3.6em;
  left: 0;
  right: 0;
  bottom: 0;
}

input[type="checkbox"]:checked ~ .nav__menu {
  translate: 0;
}

@media (width >= 768px) {
  .nav__menu {
    translate: 0;
    position: unset;
  }
}

/*-------------- MENU HOVER ---------------*/
.menu-item:hover .submenu {
  display: block;
  position: relative;
}

.submenu {
  display: none;
  position: absolute;
  top: 2rem;
  right: 0;
  z-index: 10;
}
